<div class="col-md-4 col-sm-6 col-xs-12">
    <div class="info-box">
        <span class="info-box-icon bg-green"><i class="fa fa-thumbs-up"></i></span>

        <div class="info-box-content">
            <span class="info-box-text">Points approuvés</span>
            <span class="info-box-number">{{ nbr.0.businesses }}</span>
        </div>
        <!-- /.info-box-content -->
    </div>
    <!-- /.info-box -->
</div>