<div class="col-lg-3 col-xs-6">
    <!-- small box -->
    <div class="small-box bg-yellow">
        <div class="inner">
            <h3>{{ users }}</h3>

            <p>User Registrations</p>
        </div>
        <div class="icon">
            <i class="ion ion-person-add"></i>
        </div>
        <a href="{{ path('userslist') }}" class="small-box-footer">Plus d'information <i class="fa fa-arrow-circle-right"></i></a>
    </div>
</div>